
.home__cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    position: relative;
    z-index: 211;
 /*    padding: 1rem 2rem; */
    overflow: hidden;
}

